<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://1.bp.blogspot.com/-q6bIiEthDFc/YNT8Cq_zlXI/AAAAAAABDn0/z9c57yZNu0UDWJYUk-mCfcg4Ze9WDC84gCLcBGAsYHQ/s1024/prince-of-tennis-6.jpg"
      alt="Teammates of Prince of Tennies"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova temporada de The Prince of Tennis!</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Dia 15 de fevereiro de 2025. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Vivamus facilisis ornare aliquet. Curabitur sodales
        semper convallis. Nunc ligula dolor, vehicula aliquet elit nec, ultrices
        pharetra nisi.</a
      >
    </p>
  </div>
</div>
