.container__small-card {
  /* border: 1px solid white; */
  width: 500px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  height: 115px;
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  margin-top: 15px;
  font-size: 18px;
}

.container__small-card__separator {
  margin-top: 10px;
}
