<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABWDEZLDRlp475X4zPPN-rlQqRbuW9IGbP5E_mmKznrx_YAFR21YCOmjJLViEh18eXUrnLJaY-2BoC_eIVeION8cjExpRiLIajzQ3opIdIOW41hMVnWFG2QNU.jpg"
      photoAlt="Tenista sendo socorrido"
      cardTitle="Gozdilla tennífero"
      cardDescription="Gozdilla mata tenista ao vivo."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABVeB6RUSodfUpp3H2Kecumiq-mW72xOmxrEL46dZTIpgN991A-yvEsmCodp53SaHOx5Ktut5_VPrDbxfl4rhZ6KkmADDW0IE6--novFADAU631fFalmeUnNU.jpg?r=9b5"
      cardTitle="Poses para iniciantes"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://seisenshifansubs.com/uploads/images/2020/05/the-prince-of-tennis-1589254916.jpg"
      cardTitle="Saiba mais sobre o anime"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt7wuE3dv7EJMPmHt_aqHvY1_eX0MbqQv21w&usqp=CAU"
      cardTitle="Rotina de skincare para atletas mata atleta"
    ></app-small-card>
  </div>
</div>
